<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ .Site.Title }}</title>
  <meta name="author" content="{{ .Site.Author.name }}">
  <meta name="description" content="{{ .Site.Params.description | markdownify }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS Style -->
  <link rel="stylesheet" href="/style.css" />
  {{ if isset .Site.Params "customcss" }}
  <link href='/{{ .Site.Params.customCSS }}' rel='stylesheet' type='text/css'>
  {{ end }}
</head>

<body class="{{ with .Site.Params.pageLayoutClass }}{{ . }}{{ end }}">
  <div class="wrap">
    <header class="mb">
      <h1 class="h2 m-0"><a href="/">{{ .Site.Title }}</a></h1>
      <p class="site-description">{{ .Site.Params.description | markdownify }}</p>
    </header>
